* {
    font-family: 'Work Sans', sans-serif;
}

/* reuse-code  */
.text-title {
    color: #131318;
    font-size: 40px;
    font-weight: 800;
}

.btn {
    border-radius: 8px;
    background: #FF5400;
    width: 174px;
    height: 52px;
    color: #FFF;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
}

.description {
    color: rgba(19, 19, 24, 0.70);
    font-size: 16px;
    font-weight: 400;
}







nav {
    display: flex;
    justify-content: space-between;
}

nav>ul {
    display: flex;


}

nav>ul>li {
    list-style-type: none;
    margin-right: 3rem;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
}

nav>ul>li>a {
    text-decoration: none;
}

.color-text {
    color: #FF5400;
    font-weight: 700;
}

.history {
    color: #131318;
    font-size: 36px;
    font-weight: 800;
}

.banner {
    background: url('Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    text-align: center;
    min-height: 600px;
    background-position: center;
    background-size: cover;

}

.banner>.banner-text {
    padding-top: 2rem;
}

.banner-input {
    display: flex;
    gap: 7px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    width: 50%;
    padding: 20px;
    margin-top: 5rem;
   
}

.banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 800;
}

.banner-description {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    
}

.banner-input {
    gap: 1rem;
    align-items: center;
}

.banner-input>.input-text {
    border-radius: 8px;
    background: #FFF;
    width: 174px;
    height: 52px;
    color: rgba(19, 19, 24, 0.50);
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}

/* main section-1  */
.section-1 {
    display: flex;
    margin-top: 7rem;
}

.popular-text {
    padding: 1rem 6rem 1rem 1.5rem;
}

/* main section-2 */
.section-2{
    margin-top: 6rem;
}
.destination {
    text-align: center;
}
.destination-img{
    margin: 4rem 1rem 0 1rem;
}
.row{
    display: flex;
    gap: 1rem;
    margin-bottom: 1rem;
}
.destination-img>.row>img{
    width: 50%;
}





@media screen and (max-width:576px) {
    nav {
        display: none;
    }

    .banner-input,
    .popular-tours,
    .row {
        flex-direction: column;

    }
    .destination-img{
        margin-left: 5rem;
    }
    .popular-text{
        padding: 0px 1rem 0 0.5rem;
    }
}